.sleep-container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sleep-card{
    margin: 1rem 2rem;
    border-radius: 4px;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.03);
    min-width: 300px;
    max-width: 600px;
}

.sleep-card-header{
    font-weight: lighter;
}

.sleep-card-text{
    margin: 2rem;
}